@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Logging
@using beinx.loc
@using beinx.shared
@using beinx.shared.Interfaces
@inject IIndexedDbInterop IndexedDbInterop
@inject IInvoiceService InvoiceService
@inject IStringLocalizer<InvoiceLoc> Loc
@inject NavigationManager NavigationManager
@inject ILogger<Dashboard> Logger

<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-4">
			<div class="p-3 border rounded bgchart">
				<h3>Blazor eInvoice XRechung App</h3>
				<p class="text-muted">Manage and view your eInvoices effortlessly</p>
				<p class="small text-warning mt-3">
					Use of this application is subject to our <a href="https://github.com/ipax77/BeInX/blob/main/DISCLAIMER.md" target="_blank">Full Disclaimer</a> (external link).
				</p>
			</div>
		</div>
		<div class="col-7">
			@if (statsResponse != null)
			{
				<div class="row">
					<div class="col-auto">
						<div class="card">
							<div class="card-header bgchart2">
								@Loc["Total Invoices"]
							</div>
							<div class="card-body bgchart text-center">
								@statsResponse.TotalInvoices.ToString("N0")
							</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="card">
							<div class="card-header bgchart2">
								@Loc["Paid"]
							</div>
							<div class="card-body bgchart text-center">
								@((statsResponse.TotalInvoices - statsResponse.UnpaidInvoices.Count).ToString("N0"))
							</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="card">
							<div class="card-header bgchart2">
								@Loc["Unpaid"]
							</div>
							<div class="card-body bgchart text-center">
								@(statsResponse.UnpaidInvoices.Count.ToString("N0"))
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

@code {
	StatsResponse? statsResponse = null;
	List<Draft<object>> drafts = [];
	int year = DateTime.Now.Year;

	protected override async Task OnInitializedAsync()
	{
		drafts = await IndexedDbInterop.GetAllDrafts();
		if (drafts.Count > 0)
		{
			NavigateToDraft(drafts[0]);
		}
		await LoadStats(year);
	}

	private async Task LoadStats(int year)
	{
		statsResponse = await InvoiceService.GetStats(year);
		await InvokeAsync(StateHasChanged);
	}

	private void NavigateToDraft(Draft<object> draft)
	{
		Logger.LogWarning(draft.EntityType);
		switch (draft.EntityType)
		{
			case "PaymentMeans":
				NavigationManager.NavigateTo("/payments");
				break;
			case "Buyers":
				NavigationManager.NavigateTo("/buyers");
				break;
			case "Sellers":
				NavigationManager.NavigateTo("/sellers");
				break;
			case "Invoices":
				NavigationManager.NavigateTo("/invoice");
				break;
			default:
				break;
		}
	}
}