@using Microsoft.Extensions.Localization
@using beinx.loc
@using beinx.shared
@using beinx.shared.Interfaces
@using beinx.web.Bases
@using beinx.web.Forms
@using pax.XRechnung.NET.AnnotatedDtos
@inject IInvoiceRepository InvoiceRepository
@inject IStringLocalizer<InvoiceLoc> Loc
@inject NavigationManager NavigationManager

<h3>
    @Loc["Invoices"]
</h3>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary mb-3" @onclick="NewItem">@Loc["Add New Invoice"]</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Loc["Invoice ID"]</th>
                <th>@Loc["Issue Date"]</th>
                <th>@Loc["Seller"]</th>
                <th>@Loc["Buyer"]</th>
                <th>@Loc["Amount"]</th>
                <th>@Loc["Paid?"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inv in Items)
            {
                <tr>
                    <td>@inv.Info.InvoiceDto.Id</td>
                    <td>@inv.Info.InvoiceDto.IssueDate.ToShortDateString()</td>
                    <td>@inv.Info.InvoiceDto.SellerParty?.Name</td>
                    <td>@inv.Info.InvoiceDto.BuyerParty?.Name</td>
                    <td>@inv.Info.InvoiceDto.PayableAmount.ToString("C")</td>
                    <td>@(inv.IsPaid ? "✔️" : "❌")</td>
                    <td>

                        <button class="btn btn-sm btn-outline-secondary me-1"
                                @onclick="() => EditItem(inv.Id ?? 0, inv.Info.InvoiceDto)">
                            @Loc["Edit"]
                        </button>
                        <button class="btn btn-sm btn-outline-danger"
                                @onclick="() => DeleteItemAsync(inv.Id ?? 0)">
                            @Loc["Delete"]
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private bool isLoading = true;
	private List<InvoiceEntity> Items = new();

    protected override async Task OnInitializedAsync()
    {
		Items = await InvoiceRepository.GetAllAsync();
        isLoading = false;
	}

    private void NewItem()
    {
        NavigationManager.NavigateTo("/invoice");
    }
    private void EditItem(int id, InvoiceAnnotationDto dto)
    {
        NavigationManager.NavigateTo($"/invoice/{id}");
    }
    private async Task DeleteItemAsync(int id)
    {
        await InvoiceRepository.DeleteAsync(id);
        Items = await InvoiceRepository.GetAllAsync();
        StateHasChanged();
	}
}
