@using BlazorInvoice.Weblib.Forms
@using BlazorInvoice.Weblib.Modals
@using BlazorInvoice.Shared
@using BlazorInvoice.Shared.Interfaces
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.JSInterop
@using pax.XRechnung.NET.AnnotatedDtos
@using pax.XRechnung.NET.BaseDtos
@inherits InvoiceBaseComponent
@inject IInvoiceRepository InvoiceRepository
@inject IMauiPopupService PopupService

<div class="@(payment is null ? "" : "visually-hidden")">
    <div class="mt-2">
        <EditForm EditContext="@editContext" FormName="PartyRequest">
            <div class="row">
                <div class="col-auto d-flex">
                    <div>
                        <label for="invoiceSearch" class="form-label">@Loc["Search"]</label>
                        <InputText class="form-control" id="invoiceSearch" @bind-Value="request.Filter" />
                    </div>
                    <div>
                        <i class="bi bi-x-lg text-danger pointer" @onclick="Reset"></i>
                    </div>
                </div>
                <div class="col-2 align-self-center">
                    <button class="btn btn-sm btn-outline-light mt-2" @onclick="NewPayment">
                        + @Loc["Add New Payment Means"]
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
    <div class="table-responsive text-nowrap mt-2" style="max-width: 800px; max-height: 80vh;">
        <h3>
            @Loc["Payment Means"] - # @totalCount.ToString("N0")
            @if (isLoading)
            {
                <span class="spinner-border spinner-border-sm text-danger ms-1" role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            }
        </h3>
        <table class="table table-striped">
            <thead class="user-select-none table-light">
                <CascadingValue Value="request.TableOrders">
                    <tr>
                        <th scope="col" class="pointer" @onclick="@(e => SortList(e, "Iban"))">
                            <SortArrow Property="Iban">
                                Iban
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer" @onclick="@(e => SortList(e, "Name"))">
                            <SortArrow Property="Name">
                                Name
                            </SortArrow>
                        </th>
                        <th></th>
                    </tr>
                </CascadingValue>
            </thead>
            <tbody>
                @if (totalCount == 0)
                {
                    <tr>
                        <td colspan="100">No data found.</td>
                    </tr>
                }
                else
                {
                    <Virtualize @ref="virtualizeComponent" ItemsProvider="LoadPayments" Context="payment" ItemSize="47"
                                SpacerElement="tr">
                        <ItemContent>
                            <tr @key="payment" height="47px" class="pointer" @onclick="e => EditPayment(payment)">
                                <td>@payment.Iban</td>
                                <td>@payment.Name</td>
                                <td>
                                    <button @onclick="e => DeletePayment(payment)" @onclick:stopPropagation
                                            class="btn btn-sm btn-danger">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </ItemContent>
                        <Placeholder>
                            <tr height="47px">
                                <td colspan="100">Loading ...</td>
                            </tr>
                        </Placeholder>
                    </Virtualize>
                }
            </tbody>
        </table>
    </div>
</div>
@if (payment is not null && paymentEditContext is not null)
{
    <div style="max-width: 800px;">
        <CascadingValue Value="paymentEditContext" Name="paymentEditContext">
            <PaymentForm Payment="(PaymentAnnotationDto)payment" OnValidSubmit="PaymentChanged"
                         OnCancel="e => payment = null" />
        </CascadingValue>
    </div>
}
<CodeListModal @ref="codeListModal" OnSelected="CodeListSelected" />

@code {
    InvoiceListRequest request = new();
    int totalCount = 0;
    bool isLoading;
    Virtualize<PaymentListDto>? virtualizeComponent;
    EditContext editContext = null!;
    EditContext? paymentEditContext;
    int paymentId = 0;
    IPaymentMeansBaseDto? payment;
    CodeListModal? codeListModal;

    protected override async Task OnParametersSetAsync()
    {
        await Reload();
    }

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(request);
        editContext.OnFieldChanged += FieldChanged;
        await SetCount();
        await base.OnInitializedAsync();
    }

    private async Task EditPayment(PaymentListDto interest)
    {
        isLoading = true;
        await InvokeAsync(StateHasChanged);
        paymentId = interest.PlaymentMeansId;
        payment = await InvoiceRepository.GetPaymentMeans(paymentId);
        if (payment is not null)
        {
            paymentEditContext = new EditContext((PaymentAnnotationDto)payment);
        }
        isLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task DeletePayment(PaymentListDto interest)
    {
        isLoading = true;
        await InvokeAsync(StateHasChanged);
        paymentId = interest.PlaymentMeansId;
        var result = await PopupService.DisplayAlert(Loc["Delete Payment Means"], Loc["DeletePaymentMeans"], Loc["Delete"], Loc["Cancel"]);
        if (result)
        {
            await InvoiceRepository.DeletePaymentMeans(interest.PlaymentMeansId);
            _ = Reload();
        }
        else
        {
            isLoading = false;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task PaymentChanged(IPaymentMeansBaseDto arg)
    {
        isLoading = true;
        await InvokeAsync(StateHasChanged);
        if (paymentId == 0)
        {
            paymentId = await InvoiceRepository.CreatePaymentMeans(arg);
            await Reload();
        }
        else
        {
            await InvoiceRepository.UpdatePaymentMeans(paymentId, arg);
        }
        payment = null;
        paymentId = 0;
        isLoading = false;
        paymentEditContext = null;
        await InvokeAsync(StateHasChanged);
    }

    private void NewPayment()
    {
        paymentId = 0;
        payment = new PaymentAnnotationDto();
        paymentEditContext = new EditContext((PaymentAnnotationDto)payment);
    }

    private void FieldChanged(object? sender, FieldChangedEventArgs e)
    {
        _ = Reload();
    }

    public void Reset()
    {
        request.Filter = string.Empty;
        _ = Reload();
    }

    private async Task SetCount(bool dry = false)
    {
        if (!dry)
        {
            isLoading = true;
            await InvokeAsync(() => StateHasChanged());
        }
        totalCount = await InvoiceRepository.GetPaymentsCount(request);
        if (!dry)
        {
            isLoading = false;
            await InvokeAsync(() => StateHasChanged());
        }
    }

    private async ValueTask<ItemsProviderResult<PaymentListDto>> LoadPayments(ItemsProviderRequest prRequest)
    {
        request.Skip = prRequest.StartIndex;
        request.Take = Math.Min(prRequest.Count, totalCount - prRequest.StartIndex);
        var payments = await InvoiceRepository.GetPayments(request, prRequest.CancellationToken);
        return new ItemsProviderResult<PaymentListDto>(payments, totalCount);
    }

    private async Task SortList(MouseEventArgs e, string property)
    {
        var exOrder = request.TableOrders.FirstOrDefault(f => f.PropertyName == property);
        if (e.ShiftKey)
        {
            if (exOrder == null)
            {
                request.TableOrders.Add(new TableOrder()
                {
                    PropertyName = property
                });
            }
            else
            {
                exOrder.Ascending = !exOrder.Ascending;
            }
        }
        else
        {
            request.TableOrders.Clear();
            request.TableOrders.Add(new TableOrder()
            {
                PropertyName = property,
                Ascending = exOrder == null ? false : !exOrder.Ascending
            });
        }
        await Reload();
    }

    private async Task Reload()
    {
        isLoading = true;
        await InvokeAsync(() => StateHasChanged());
        await SetCount(true);
        if (virtualizeComponent != null)
        {
            await InvokeAsync(async () =>
            {
                await virtualizeComponent.RefreshDataAsync();
                StateHasChanged();
            });
        }
        isLoading = false;
        await InvokeAsync(() => StateHasChanged());
    }

    private void CodeListRequest(string codeList)
    {
        codeListModal?.Show(codeList);
    }

    private void CodeListSelected(KeyValuePair<string, string> ent)
    {
        var codeList = ent.Key;
        var value = ent.Value;
        if (payment is not null && codeList == "UNTDID_4461")
        {
            payment.PaymentMeansTypeCode = value;
        }
        editContext.Validate();
        FieldChanged(null, new FieldChangedEventArgs(new FieldIdentifier()));
    }
}