@using pax.XRechnung.NET

<div>
    <div class="d-flex">
        <div>
            <h3>Validation Result</h3>
        </div>
        <div>
        </div>
    </div>
    <div class="validation-result">
        @if (!string.IsNullOrEmpty(Result.Evaluation))
        {
            <p><strong>Evaluation:</strong> @Result.Evaluation</p>
        }
        @if (!string.IsNullOrEmpty(Result.Conformity))
        {
            <p><strong>Conformity:</strong> @Result.Conformity</p>
        }
        @if (!string.IsNullOrEmpty(Result.Error))
        {
            <p><strong>Error: </strong> @Result.Error</p>
        }
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="user-select-none">
                    <tr>
                        <th>Severity</th>
                        <th>Exception</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var validation in Result.Validations)
                    {
                        @if (!ShowWarnings && validation.Severity == System.Xml.Schema.XmlSeverityType.Warning)
                        {
                            continue;
                        }
                        <tr>
                            <td>@validation.Severity</td>
                            <td>@validation.Exception</td>
                            <td>@validation.Message</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        @if (Result.IsValid)
                        {
                            <td colspan="100" class="table-success">
                                The invoice is valid.
                            </td>
                        }
                        else
                        {
                            <td colspan="100" class="table-danger">
                                The invoice is not valid. Please check the errors above.
                            </td>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public InvoiceValidationResult Result { get; set; } = default!;

    [Parameter]
    public bool ShowWarnings { get; set; }
}