@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Localization
@using Microsoft.JSInterop
@using beinx.loc
@using pax.XRechnung.NET.AnnotatedDtos
@using pax.XRechnung.NET.BaseDtos
@inject IStringLocalizer<InvoiceLoc> Loc
@inject IJSRuntime JSRuntime

<div>
    <EditForm EditContext="partyEditContext" FormName="InvoicePartyForm" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="@(e => JSRuntime.InvokeVoidAsync("scrollToFirstError"))">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label for="bt27" class="form-label">Name</label>
            <InputText class="form-control" id="bt27" aria-describedby="bt27desc" @bind-Value="Party.Name" />
            <small id="bt27desc" class="@descClass">@Loc["BT-27"]</small>
            <div>
                <ValidationMessage For="@(() => Party.Name)" />
            </div>
        </div>
        <div class="mb-3">
            <label for="bt28" class="form-label">Registration Name</label>
            <InputText class="form-control" id="bt28" aria-describedby="bt28desc" @bind-Value="Party.RegistrationName" />
            <small id="bt28desc" class="@descClass">@Loc["BT-28"]</small>
            <div>
                <ValidationMessage For="@(() => Party.RegistrationName)" />
            </div>
        </div>
        <div class="mb-3">
            <label for="bt35" class="form-label">Street Name</label>
            <InputText class="form-control" id="bt35" aria-describedby="bt35desc" @bind-Value="Party.StreetName" />
            <small id="bt35desc" class="@descClass">@Loc["BT-35"]</small>
            <div>
                <ValidationMessage For="@(() => Party.StreetName)" />
            </div>
        </div>
        <div class="mb-3">
            <label for="bt38" class="form-label">Postal Zone</label>
            <InputText class="form-control" id="bt38" aria-describedby="bt38desc" @bind-Value="Party.PostCode" />
            <small id="bt38desc" class="@descClass">@Loc["BT-38"]</small>
            <div>
                <ValidationMessage For="@(() => Party.PostCode)" />
            </div>
        </div>
        <div class="mb-3">
            <label for="bt37" class="form-label">City Name</label>
            <InputText class="form-control" id="bt37" aria-describedby="bt37desc" @bind-Value="Party.City" />
            <small id="bt37desc" class="@descClass">@Loc["BT-37"]</small>
            <div>
                <ValidationMessage For="@(() => Party.City)" />
            </div>
        </div>
        <div class="mb-3">
            <label for="bt40" class="form-label">Country</label>
            <div class="input-group">
                <InputText class="form-control" id="bt40" aria-describedby="bt40desc" @bind-Value="Party.CountryCode" />
                <button type="button" class="btn btn-sm btn-outline-light ms-1" @onclick="@(() => RequestCodeList(nameof(Party.CountryCode), "Country_Codes"))">Pick</button>
            </div>
            <small id="bt40desc" class="@descClass">@Loc["BT-40"] - ISO 3166</small>
            <div>
                <ValidationMessage For="@(() => Party.CountryCode)" />
            </div>
        </div>
        <div class="mb-3">
            <label for="bt42" class="form-label">Contact Telephone</label>
            <InputText class="form-control" id="bt42" aria-describedby="bt42desc" @bind-Value="Party.Telefone" />
            <small id="bt42desc" class="@descClass">@Loc["BT-42"]</small>
            <div>
                <ValidationMessage For="@(() => Party.Telefone)" />
            </div>
        </div>
        <div class="mb-3">
            <label for="bt43" class="form-label">Contact Email</label>
            <InputText class="form-control" id="bt43" aria-describedby="bt43desc" @bind-Value="Party.Email" />
            <small id="bt43desc" class="@descClass">@Loc["BT-43"]</small>
            <div>
                <ValidationMessage For="@(() => Party.Email)" />
            </div>
        </div>
        <div class="mb-3">
            <label for="bt10" class="form-label">Buyer Reference</label>
            <InputText class="form-control" id="bt10" aria-describedby="bt10desc" @bind-Value="Party.BuyerReference" />
            <small id="bt10desc" class="@descClass">@Loc["BT-10"]</small>
            <div>
                <ValidationMessage For="@(() => Party.BuyerReference)" />
            </div>
        </div>
        <div class="mt-3">
            <button type="button" class="btn btn-danger" @onclick="e => OnCancel.InvokeAsync()">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </EditForm>
</div>

@code {
    [Parameter, EditorRequired]
    public BuyerAnnotationDto Party { get; set; }

    [Parameter]
    public EventCallback<BuyerAnnotationDto> OnValidSubmit { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<CodeListRequest> OnCodeListRequested { get; set; }

    [Parameter]
    public bool ShowDesc { get; set; } = true;


    [CascadingParameter(Name = "partyEditContext")]
    public EditContext partyEditContext { get; set; } = null!;

    string descClass => ShowDesc ? "form-text text-muted" : "d-none";

    private async Task RequestCodeList(string propertyName, string codeListName)
    {
        var request = new CodeListRequest
        {
            Target = Party,
            PropertyName = propertyName,
            CodeList = codeListName,
            EditContext = partyEditContext,
        };

        await OnCodeListRequested.InvokeAsync(request);
    }

    private async Task HandleValidSubmit()
    {
        await OnValidSubmit.InvokeAsync(Party);
    }
}


